* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #f4f4f4;
}

.App {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    max-width: 500px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
}

.App::before {
    content: "Build your CV";
    display: block;
    text-align: center;
    font-size: 0.8rem;
}

.cv-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* width: 100%;
    height: 100vh; */
    padding: 1.5rem;
}

.cv-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    /* height: 100%; */
    margin-bottom: 1rem;
    padding: 1.5rem;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cv-section h2 {
    font-size: 1.3rem;
}

.cv-section h1 {
    font-size: 2rem;
}

.cv-section address {
    font-style: normal;
}

.cv-section .email {
    font-style: normal;
    text-decoration: none;
    color: #00368e;
}

.cv-section .phone {
    font-style: normal;
    text-decoration: none;
    color: #00368e;
}

button.toggleEdit {
    margin: 1.5rem auto;
    width: 100%;
    padding: 0.5rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #333;
    color: #fff;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    /* height: 100vh; */
    /* margin-bottom: 1rem; */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.border {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 1rem;
}

.form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-bottom: 0rem;
    padding: 0.5rem;
    /* font-size: 0.8rem; */
}

.form-field label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.form-field input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-field textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.form-field button {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #333;
    color: #fff;
    cursor: pointer;
}

.list-item {
    border-bottom: 1px solid #ccc;
}

/* .list-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; *
    width: 100%;
    /* height: 100vh; *
    
} */

/* .list-form .form-field {
    margin-bottom: 0rem;
    padding: 0.5rem;
    font-size: 0.8rem;
} */


/* hide buttons and .App::before when page is printed */
@media print {
    .App::before {
        display: none;
    }
    button {
        display: none;
    }
}